<a href="https://colab.research.google.com/github/Amberparmaar/Functions_in_python/blob/main/Lists%2C_Tuples_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

List Python ka aik data structure hai jo items ka collection hota hai.
Ye items ordered hote hain, indexed hote hain, aur mutable (badalne laayak) hote hain.
Is mein hum different types ke values (number, string, float, etc.) rakh sakte hain.
Duplicate values bhi allow hoti hain.

In [ ]:
fruits = ["apple", "banana", "mango"]

Common List Methods

1. append()

Naya item list ke end mein add karta hai.

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits.append("Kiwi")
print(fruits) #output ['apple', 'banana', 'mango', 'Kiwi']

fruits.append("mango", "orange")
print(fruits) #output TypeError: append() takes exactly one argument (2 given

['apple', 'banana', 'mango', 'Kiwi']

TypeError: list.append() takes exactly one argument (2 given)

2. insert(index, item)

Kisi specific position (index) par item daalne ke liye.

In [ ]:
fruits = ["apple", "mango", "peach"]
#new_fruits = fruits.insert(2, "kiwi")
print(fruits) #output ['apple', 'mango', 'kiwi', 'peach']

new_fruits = fruits.insert(3, "kiwi")
print(fruits) #output ['apple', 'mango', 'peach', 'kiwi']

['apple', 'mango', 'peach']
['apple', 'mango', 'peach', 'kiwi']

3. remove(item)

List se koi specific item hataane ke liye.

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits.remove("banana")
print(fruits)
# Output: ['apple', 'mango']

4. pop([index])

Default: Last item remove karta hai. Agar index do, to specific item remove karta hai.

In [ ]:
fruits = ["apple", "banana", "mango"]
#fruits.pop()
#print(fruits) # Output: ['apple', 'banana']


#Agar index do, to specific item remove karta hai.
fruits.pop(1)
print(fruits) # output['apple', 'mango']

['apple', 'mango']

5. sort()

List ko ascending (choti se bari) order mein arrange karta hai.

In [ ]:
numbers = [3, 1, 4, 2]
numbers.sort()
print(numbers)
# Output: [1, 2, 3, 4]

6. reverse()


List ka order ulta kar deta hai.

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits.reverse()
print(fruits)
# Output: ['mango', 'banana', 'apple']

['mango', 'banana', 'apple']

2. Sorting in Descending Order (reverse=True)

In [ ]:
numbers = [4, 2, 9, 1]
numbers.sort(reverse=True)
print(numbers)  # Output: [9, 4, 2, 1]

[9, 4, 2, 1]

Sorting by String Length (key=len)

In [ ]:
words = ["apple", "kiwi", "banana"]
words.sort(key=len)
print(words)  # Output: ['kiwi', 'apple', 'banana']

 Sorting by Last Character (key=lambda word: word[-1])

In [ ]:
words = ["apple", "kiwi", "banana"]
words.sort(key=lambda word: word[-1])
print(words)  # Output: ['banana', 'apple', 'kiwi']  # Sorted by last letter

['banana', 'apple', 'kiwi']

7. copy()


List ka ek naya copy bana deta hai.

In [ ]:
fruits = ["apple", "banana"]
new_list = fruits.copy()
print(new_list)
# Output: ['apple', 'banana']

8. clear()


Puri list ka data hata deta hai (khaali kar deta hai).

In [ ]:
fruits = ["apple", "banana"]
fruits.clear()
print(fruits)
# Output: []

[]

Accessing List Elements

List ke elements ko hum index number se access karte hain.
Indexing Python mein 0 se start hoti hai.

Negative Indexing
Python mein hum negative index bhi use kar sakte hain.

-1 ka matlab last element, -2 second last, etc.

In [ ]:
fruits = ["apple", "banana", "mango"]

print(fruits[-1])  # Output: mango
print(fruits[-2])  # Output: banana

mango
banana

Accessing Part of List (Slicing)


Hum list ka ek hissa (slice) bhi access kar sakte hain.

In [ ]:
fruits = ["apple", "banana", "mango", "orange", "grape"]

# Slice from index 1 to 3 (3 include nahi hota)
print(fruits[1:4])
# Output: ['banana', 'mango', 'orange']

# Slice from start to 2
print(fruits[:3])
# Output: ['apple', 'banana', 'mango']

# Slice from 2 till end
print(fruits[2:])
# Output: ['mango', 'orange', 'grape']

 :: in List (Slicing Operator)

 :: ka use list slicing mein hota hai,
aur iska basic kaam hota hai:
"poori list ko kisi specific step ke saath access karna".

list[start : stop : step]


list[::]	               Puri list as it is
list[::2]	               Har doosra element
list[::-1]	             List ko reverse kar do
list[start:stop:step]	   Custom slicing and stepping

see examples in below

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]

print(numbers[::2])
# Output: [0, 2, 4, 6]

[0, 2, 4, 6]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]

print(numbers[::-1])
# Output: [6, 5, 4, 3, 2, 1, 0]

[6, 5, 4, 3, 2, 1, 0]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]

print(numbers[1:6:2])
# Output: [1, 3, 5]

[1, 3, 5]

Using list comprehension

new_list = [expression for element in iterable if condition]

expression is the operation you want to perform on each element.
element is the variable that takes on the value of each element in the iterable.
iterable is the list or other iterable that you want to process.
condition is an optional filter that determines whether an element is included in the new list.

In [ ]:
# Without if condition
squared: list = [x**2 for x in [1, 2, 3, 4, 5] ] #  if x > 3 place this if condition and see
print(squared, " : ", type(squared))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]  :  <class 'list'>

In [ ]:
# With if condition
squared: list = [x**2 for x in [1, 2, 3, 4, 5] if x > 3] #  if x > 3 place this if condition and see
print(squared, " : ", type(squared))  # Output: [1, 4, 9, 16, 25]

[16, 25]  :  <class 'list'>

**4. Tuples in Python**

Tuple aik ordered aur immutable (jo badla nahi ja sakta) elements ka sequence hota hai.
Tuples un situations mein kaam aate hain jab data fix hota hai aur change nahi karna hota.

Python mein, tuple aik immutable data type hai.
Iska matlab yeh hai ke jab aik dafa tuple ban jaaye, to uske elements ko na to change kiya ja sakta hai, na naye elements add kar sakte hain, aur na hi koi element remove kar sakte hain.

1. Elements ko Modify nahi kar sakte:
Jab aik dafa tuple ban jaaye, to uske elements ko aap change nahi kar sakte.

2. Elements ko Add ya Remove nahi kar sakte:
Aap tuple mein naye elements add nahi kar sakte, aur na hi purane elements ko remove kar sakte hain.


Tuples kyun use karte hain?

1. Immutable:
Kyunkay tuples change nahi ho sakte, is liye jab aap chahte hain ke data constant rahe aur koi usko change na kare, to tuple use karna safe hota hai.

2. Hashable:
Tuple hashable hote hain, is wajah se aap tuples ko dictionary ke keys ke taur par use kar sakte hain.
(Lists ko keys ke tor pe nahi use kar sakte kyunkay wo mutable hote hain.)

3. Performance:
Tuples lists se tez hote hain kyunkay tuples mein data fix rehta hai aur memory handling simple hoti hai.

In [ ]:
tuple1: tuple = tuple(["apple", "banana", "cherry"]) # cast a list into tuple
tuple2: tuple = (10, 20, 30) # tuple
mixed_tuple: tuple = ("hello", 42, 3.14, True) # tuple

print("tuple1      =", tuple1)
print("tuple2      =", tuple2)
print("mixed_tuple =", mixed_tuple)

tuple1      = ('apple', 'banana', 'cherry')
tuple2      = (10, 20, 30)
mixed_tuple = ('hello', 42, 3.14, True)

Chahe tuples immutable hote hain, phir bhi Python nayi memory mein naye instances create kar sakta hai jab tum alag alag assignments mein same tuple define karte ho. Isi wajah se id(tuple_1) aur id(tuple_2) different ho sakte hain.

In [ ]:
tuple_1: tuple = (10, 20, 30) # tuple
tuple_2: tuple = (10, 20, 30) # tuple

print("id(tuple_1) = ", id(tuple_1)) # unique memory address
print("id(tuple_2) = ", id(tuple_2)) # unique memory address

print("tuple_1 == tuple_2 = ", tuple_1 == tuple_2) # comparing by value

id(tuple_1) =  138947563934272
id(tuple_2) =  138947563937408
tuple_1 == tuple_2 =  True

Python mein dictionary ke keys ko immutable (jo badle na) hona zaroori hota hai.

Tuple immutable hotay hain, is liye hum unko keys ke tor pe use kar saktay hain!

In [ ]:
# Tuple keys wali dictionary
locations = {
    (10, 20): "Park",
    (30, 40): "Library",
    (50, 60): "Cafe"
}

print(locations[(10, 20)])  # Output: Park
print(locations[(30, 40)])  # Output: Library

Park
Library

Important Note:
Tuple ke andar sirf immutable cheezein honi chahiye. (List ya dictionary tuple ke andar nahi honi chahiye.)

In [ ]:
# wrong way

In [ ]:
key = ([1, 2], 3)  # tuple ke andar list hai → error aayega


# **Dictionaries in Python**


Dictionary ek aisi collection hoti hai jo key-value pairs par mabni hoti hai. Yeh:

Ordered hoti hai (Python 3.7 se): Items usi order mein store hote hain jis order mein insert kiye gaye hoon.

Mutable hoti hai: Items ko dictionary create hone ke baad bhi add, remove, ya modify kiya ja sakta hai.

Un-indexed hoti hai: Items ko keys ke zariye access kiya jata hai, indices ke zariye nahi.

Without duplicates hoti hai: Keys unique honi chahiyein, lekin values duplicate ho sakti hain.

Python 3.7 se pehle, dictionaries unordered hoti thi, matlab items kisi specific order mein store nahi hote the. Lekin Python 3.7 ke baad se, dictionaries apna insertion order maintain karti hain.

In [57]:
dic = {
    'name' : 'Amber',
    'name' : 'Rehana',
    'age': 29,
    'city': 'karachi',
    'color': ['blue', 'black'],
    'is_married': True
}
dic['city'] = 'lahore'.upper() # convert into upper case
del dic['is_married'] #removes ismarried
print(dic['color'][1]) # returns colors [1]
print(dic['name']) #get name
print(dic['city']) #get the city entry
print(dic.get('age')) # get age
print(dic) # show all pairs
print(dic.keys())#Returns dict_keys
print(dic.values())#Returns dict_values
print(dic.items()) # Returns key-value pairs as tuples
print(dic.clear())# Removes all items from the dictionary.

black
Rehana
LAHORE
29
{'name': 'Rehana', 'age': 29, 'city': 'LAHORE', 'color': ['blue', 'black']}
dict_keys(['name', 'age', 'city', 'color'])
dict_values(['Rehana', 29, 'LAHORE', ['blue', 'black']])
dict_items([('name', 'Rehana'), ('age', 29), ('city', 'LAHORE'), ('color', ['blue', 'black'])])
None

KeyError: 'age'

.update()

The .update() method in Python is used to add or update multiple key-value pairs at once from another dictionary (or an iterable of key-value pairs).

In [42]:
my_dic = {
    'name' : "Wardah",
    'age' : 6,
    'city' :'karachi'.capitalize(),
    'class' : 2,
    'friends': ['Areeba' , 'Ayesha']
}

new_dic = {
    'school': 'albadar'.capitalize(),
    'address':{
        'add1': 'soldier bazar',
        'add2': 'jamshed road'
    }
}

my_dic.update(new_dic)
print(my_dic)
del my_dic
print(my_dic)

{'name': 'Wardah', 'age': 6, 'city': 'Karachi', 'class': 2, 'friends': ['Areeba', 'Ayesha'], 'school': 'Albadar', 'address': {'add1': 'soldier bazar', 'add2': 'jamshed road'}}

NameError: name 'my_dic' is not defined

Duplicate Key Not Allowed

Dictionaries cannot have two items with the same key:

In [56]:
my_dic = {
    'name' : "Wardah",
    'age' : 6,
    'city' :'karachi'.capitalize(),
    'class' : 2,
    'class' : 4,  # this will overwrite the previous key:vlaue
    'friends': ['Areeba' , 'Ayesha']
}


# Iterating Over a Dictionary

#You can loop through a dictionary using for loops.


print(my_dic)
# for keys in my_dic:
#   print(keys)

for key, value in my_dic.items():
   print(key," : ", value)

{'name': 'Wardah', 'age': 6, 'city': 'Karachi', 'class': 4, 'friends': ['Areeba', 'Ayesha']}
name  :  Wardah
age  :  6
city  :  Karachi
class  :  4
friends  :  ['Areeba', 'Ayesha']

Alright! Let's focus on .pop() for dictionaries in Python:

Quick Summary
✅ Removes key-value pair
✅ Returns the value
✅ Avoids errors if you pass a default

In [58]:
person = {"name": "Alice", "age": 25, "city": "New York"}

# Remove and return the value of "age"
age = person.pop("age")
print(age)       # Output: 25
print(person)    # Output: {'name': 'Alice', 'city': 'New York'}

25
{'name': 'Alice', 'city': 'New York'}